body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-image: url("images/home.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.headerFlex {
    inline-size: 1110px;
    block-size: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerFlex-list ol li{
    display: flex;
    align-items: center;
}

 .headerFlex-list li a {
    margin: 0 18px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
 }

.download {
    -webkit-box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    background: -webkit-gradient(linear, right top, left top, from(#2e19a7), to(#ae0ee9));
    background: linear-gradient(to left, #2e19a7, #ae0ee9);
    border-radius: 25px;
    padding: 10px 34px;
    background-size: 100% auto;
}

.headerFlex-text {
    inline-size: 1110px;
    block-size: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerFlex-text--1 {
    inline-size: 570px;
    margin-top: 200px;
}

.headerFlex-text--1 h1 {
    font-weight: 500;
    font-size: 62px;
    line-height: 70px;
}

.headerFlex-text--1 p {
    font-size: 20px;
    line-height: 30px;
    color: #555555;
    inline-size: 590;
    margin-bottom: 45px;
}

.headerFlex-text--1 a {
    background: -webkit-gradient(linear, left top, right top, from(#9d5bfe), to(#3890fe));
    background: linear-gradient(90deg, #9d5bfe, #3890fe);
    background-size: 100% auto;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
}

.firstMain {
    background-image: url("images/second-top.png");
    block-size: 1000px;
    background-position: top right;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
}

.firstMain-unic {
    inline-size: 1110px;
    margin: 0 auto;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 3.7%;
}

.firstMain h4 {
    color: #0084FF;
    margin: 0;
} 

.firstMain h2 {
    font-size: 3.7rem;
    margin: 0;
}

.firstMain p{
    color: #505b6d  ;
}

.firstMain-bot {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    inline-size: 1110px;
    text-align: center;
}

.firstMain h3 {
    color: black;
}

.firstMain-bot p{
    color: #6c757d;
}

.engranaje {
    width: 150px;
    height: 125px;
}

.firstMain-extension--1 {
    width: 190px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.2);
    padding: 30px 30px 10px;
    border-radius: 4px;
    background-color: #fff;
    transition: 0.3s;
}

.firstMain-extension--1.data:hover p{
    color: white;
}

.firstMain-extension--1.data:hover h3{
    color: white;
}

.firstMain-extension--1.data:hover{
    background-color: #dc3545;
}

.firstMain-extension--2 {
    width: 190px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.2);
    padding: 30px 30px 10px;
    border-radius: 4px;
    background-color: #fff;
    transition: 0.3s;
}

.firstMain-extension--2:hover p{
    color: white;
}

.firstMain-extension--2:hover h3{
    color: white;
}

.firstMain-extension--2:hover {
    background-color: #6610f2;
}

.firstMain-extension--3 {
    width: 190px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.2);
    padding: 30px 30px 10px;
    border-radius: 4px;
    background-color: #fff;
    transition: 0.3s;
}

.firstMain-extension--3:hover p{
    color: white;
}

.firstMain-extension--3:hover h3{
    color: white;
}

.firstMain-extension--3:hover {
    background-color: #17a2b8;
}

.firstMain-extension--4 {
    width: 190px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.2);
    padding: 30px 30px 10px;
    border-radius: 4px;
    background-color: #fff;
    transition: 0.3s;
}

.firstMain-extension--4:hover p{
    color: white;
}

.firstMain-extension--4:hover h3{
    color: white;
}

.firstMain-extension--4:hover {
    background-color: #ffc107;
}

.firstMain-ultimate {
    inline-size: 1110px;
    margin: 0 auto;
    text-align: center;
    padding-top: 2%;
}

.firstMain-ultimate a {
    font-size: 13px;
    color: white;
    text-decoration: none;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    background: -webkit-gradient(linear, right top, left top, from(#2e19a7), to(#ae0ee9));
    background: linear-gradient(to left, #2e19a7, #ae0ee9);
    border-radius: 25px;
    padding: 10px 34px;
    background-size: 100% auto;
}

.second-main {
    background-image: url("images/three-top.png");
    block-size: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.second-main_all {
    inline-size: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-items: center;
}

.second-main img {
    inline-size: 411px;
    block-size: 681px;
}

.second-main_mid {
}
